.login-form{
    text-align: center;
    background-color: rgb(147, 225, 225);
    width: 300px;
    margin-left: 500px;
    margin-top: 200px;
    height: 150px;
}
.login-container{
    margin-top: 30px;
}

.form-group{
    padding-top: 10px;
}

.btn-login{
    margin-top: 20px;
    color: black;

}