#editorId{
    border: solid;
    border-color: grey;
    margin-top: 10px;
    background-color:white;
    width: 950px;
    height: 550px;
    margin-left: 15px;
    max-height:  570px;
    max-width:950px ;
    border-radius: 5px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;   
}



