
<!-- <div class="navbarclass">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">

    <li ngbDropdown class="nav-item" role="presentation" class="dropdown">
      <button type="button" class="nav-link" ngbDropdownToggle >Mobiles</button>
    
      <div ngbDropdownMenu class="dropdown-menu">
        <button ngbDropdownItem>Samsung</button>
        <button ngbDropdownItem>Realme</button>
        <button ngbDropdownItem>Motorola</button>
        <button ngbDropdownItem>Redmi</button>
      </div>
    </li>
  
    <li ngbDropdown class="nav-item" role="presentation">
      <button type="button" class="nav-link" ngbDropdownToggle>Fashion</button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>Men's T-Shirts</button>
        <button ngbDropdownItem>Men's Casual Shirts</button>
        <button ngbDropdownItem>Men's kurtas</button>
        <button ngbDropdownItem>Men's Kurtas</button>
      </div>
    </li>
  
  
    <li ngbDropdown class="nav-item" role="presentation">
      <button type="button" class="nav-link" ngbDropdownToggle>Electronics</button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>Bluetooth Headphones</button>
        <button ngbDropdownItem>Wired Headphones</button>
        <button ngbDropdownItem>Bluetooth Speakers</button>
        <button ngbDropdownItem>Wired Earbuds</button>
        <button ngbDropdownItem>Soundbars</button>
      </div>
    </li>
  
  
    <li ngbDropdown class="nav-item" role="presentation">
      <button type="button" class="nav-link" ngbDropdownToggle>Home & Furniture</button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>Badsheets</button>
        <button ngbDropdownItem>Blankets</button>
        <button ngbDropdownItem>Curtains & Accessories</button>
        <button ngbDropdownItem>Bath linen</button>
        <button ngbDropdownItem>Floor coverings</button>
      </div>
    </li>
    <li class="logoutcont">

      <button class="logoutbtn nav-link"    (click)="onLogout()">logout</button>
  
    </li>
  
  
    
  </ul>
  <div [ngbNavOutlet]="nav"></div>

  
</div> -->

<button  class="menu-list"   (click)="menulist()">menu-list</button>

 














<nav >
  <div>
    <button class="addbuttonClass" type="button" [disabled]="clicked" (click)="create(content)">Add Product</button>
</div>
</nav>


<div class="divTable">
  <h2 class="prodListClass">Product List</h2>
    <table class="tableClass">
      <thead>
        <tr class="headerClass">
          <th>Id</th>
          <th>Name</th>
          <th>Details</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr   class="detailsClass"     *ngFor="let product of productList; let i=index">
          <td>{{i+1}}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.details }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.discount }}</td>
          <td><button class="btn btn-warning" (click)="edit(content,product)">Edit</button>&nbsp;
            <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
        </td>
        </tr>
      </tbody>
    </table>
  
</div>



<ng-template #content let-modal style="width: 183%;">
   
    <div>
        <form [formGroup]="productForm">
        <div>
            <table class="addtable">
                <caption>
                  Add Product
                </caption>
                <thead>
                  <tr>
                        <th >Name</th>
                        <input formControlName="name" type="text" placeholder="name" > 
                  </tr>
                  
                </thead>
                <tbody>
                  <tr>
                    <th> 
                        Details
                    </th>
                    <input formControlName="details" type="text" placeholder="details" >   
                  </tr>
                  <tr>
                    <th> 
                        Price
                    </th>
                    <input formControlName="price" type="number" placeholder="price" > 
                  </tr>
                  <tr>
                    <th> 
                        Discount
                    </th>
                    <input formControlName="discount" type="number" placeholder="discount" > 
                    
                  </tr>
                </tbody>
              </table>
        </div>
    </form>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="closeModel()">
          Cancel
        </button>
        <ng-container>
          <button type="submit" *ngIf="this.modalLabel != 'Edit'" class="btn btn-primary btn-elevate"
            (click)="onSubmit()">
            Save
          </button>
          <button type="submit" *ngIf="this.modalLabel == 'Edit'" class="btn btn-primary btn-elevate"
            (click)="onUpdate()" >
            Update
          </button>
        </ng-container>
      </div>
    
</ng-template>


    
   


