.addContainer{
    flex: content;
    border: 1px;
    background-color: aqua;
    width: 300px;
    
   
}

table{
    text-align: center;
}

.addbutton{
    margin-left: 90%;
    background-color:rgb(3, 92, 98);
}

.getTable{
    border: 2px solid;
    width: 1000px;
    height: auto;
}